<div id="app-what-is-xd" class="what-is-xd-wrapper">
  <div class="page-wrapper d-flex align-items-center justify-content-center">
    <div class="container">
      <div class="row">
        <div class="col-12 text-light">
          <h1>What is Adobe XD</h1>
          <ul>
            <li class="animated fadeInUp delay">XD empowers designers with the speed, precision, and quality to
              seamlessly iterate and share
              interactive <span class="animated pulse infinite">prototypes</span> with team members and
              reviewers
              across devices and platforms, including Windows, Mac, iOS, and Android.</li>
            <li class="animated fadeInUp delay-1s">Specially built for UI/UX design</li>
            <li class="animated fadeInUp delay-2s">Lightweight and free</li>
            <li class="animated fadeInUp delay-3s">Vector based</li>
            <li class="animated fadeInUp delay-4s">Uses Artboard</li>
            <li class="animated fadeInUp delay-5s">Easier prototyping</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>